<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">What to cook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation-header" aria-controls="navigation-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation-header">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Planner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shopping list</a>
                </li>
            </ul>
            <form role="search" class="mx-lg-2 my-3 my-lg-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-button">
                    <button class="btn btn-outline-light" type="submit" id="search-button">Search</button>
                </div>
            </form>
            <div class="my-3 my-lg-0 nav-item dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="authentication-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Krystian</strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="authentication-dropdown">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>